.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__commentnumber {
  position: absolute;
  right: -2px;
  top: -2px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  font-weight: 600;
}
.header__newdot {
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  right: 10px;
}
