.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 35%;
}
.user-component__title--not-bold {
  font-weight: 300;
  font-size: 22px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
.user-component__text {
  position: relative;
}
.user-component__alertmark {
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: -22px;
  bottom: 1px;
}
